@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

:root {
  --side-margin: 15vw;
  --defaultColor: rgb(23, 191, 99);
}

@media only screen and (max-width: 600px) {
  :root {
    --side-margin: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #00091b !important;
}

.body {
  position: relative;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

a,
input,
textarea,
ul,
li,
span,
p {
  font-family: 'Poppins', sans-serif;
}

a:focus,
input:focus {
  outline: none;
}

@-webkit-keyframes blinker {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.0;
  }
}

@keyframes floatUp {
  0% {

    transform: translatey(0px);
  }

  50% {

    transform: translatey(-20px);
  }

  100% {

    transform: translatey(0px);
  }
}

.floating-up {
  position: absolute;
  bottom: 5px;
  right: 10px;
  opacity: 0.22;
  background: transparent;
  animation: floatUp 6s ease-in-out infinite;
}

.floating-up img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

@keyframes floatDown {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(80px);
  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;

  }

  100% {
    opacity: 1;

  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;

  }

  100% {
    opacity: 1;

  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    top: 20%;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes moveRight {

  0%,
  20%,
  50%,
  80%,
  100% {
    margin-left: 0;
    opacity: 1;
  }

  40% {
    margin-left: 10px;
    opacity: .5;
  }

  60% {
    margin-left: 5px;
    opacity: .1;
  }
}

.header {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  min-height: 40px;
  align-items: center;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 8;
  top: 0;
  right: 0;
  background-color: rgb(0, 9, 27);
  background-color: rgba(0, 9, 27, 0.9);
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow-x: hidden;
  transition: 0.5s;
}


.overlay.active {
  width: 300px;
  visibility: visible;
}

.overlay.active a {
  animation: fadeInRight 1s ease forwards;
  animation-delay: 1s;
}

.overlay.active a:nth-of-type(2) {
  animation-delay: 0.6s;
}

.overlay.active a:nth-of-type(3) {
  animation-delay: 0.7s;
}

.overlay.active a:nth-of-type(4) {
  animation-delay: 0.8s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  opacity: 0;

}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.more {
  width: 32px;
  height: 32px;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.2s ease;
  transition-delay: 0.15s;
  z-index: 8000;
  display: none;
}

.more svg {
  transform: rotate(270deg);
  z-index: 8000;
}

.more svg circle {
  stroke-width: 2;
  stroke: #fff;
  fill: none;
  stroke-dasharray: 95;
  stroke-dashoffset: 190;
  transition: all 0.6s ease;
  stroke-linecap: round;
  z-index: 8000;
}

.more svg #plus {
  transform-origin: 50% 50%;
  transition: all 0.8s ease;
}

.more svg #plus path {
  stroke-width: 2;
  stroke: #fff;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.more.toggle circle {
  stroke-dasharray: 95;
  stroke-dashoffset: 285;
  z-index: 8000;
}

.more.toggle #plus {
  transform: rotate(45deg);
}

.more.toggle:hover {
  background: rgba(255, 255, 255, 0.06);
}

.header .brand {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1.5px;
}

.header .nav {
  padding: 5px 0;
}

.header .nav a {
  position: relative;
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
  margin: 4px 4px 4px 0;
  transition: 0.8s ease-in-out;

}

.header .nav a:before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  top: 1.3rem;
  background: transparent;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header .nav a:hover:before,
.header .nav a.active:before {
  background: var(--defaultColor);
}

@media screen and (max-width: 768px) {
  .header {
    padding: 16px;
  }

  .overlay a {
    font-size: 16px
  }

  .nav {
    display: none;
  }

  .more {
    display: block;
  }
}

.fadeIn {

  -webkit-animation: fadeIn 3s ease-in-out;
  animation: fadeIn 3s ease-in-out;
}

.floating-down {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 3px solid #444444;
  opacity: 0.2;
  background: transparent;
  animation: floatDown 6s ease-in-out infinite;
}


.blink {
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  color: var(--color_default);
}

.is_flexed {
  display: flex;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 0;
}

.m_default {
  margin: 1.75rem 0;
}

.m_default_lg {
  margin: 80px 0;
}

.is-center {
  text-align: center;
}

.is-center .a_button {
  margin: 0 auto !important;
}

.a_link {
  color: var(--defaultColor);
  text-decoration: none;
  transition: 0.8s ease-in-out;
  display: inline-block;
  position: relative;
}

.a_link:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 3px solid var(--defaultColor);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.a_link:hover:before {
  width: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.a_link.plain {
  color: #ffffff;
  border-bottom: 3px solid rgba(23, 191, 99, 0.1);
  font-weight: bold;
  display: inline-block;
  position: relative;
}

.a_link.plain:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  left: 0;
  bottom: 0;
  border-bottom: 3px solid var(--defaultColor);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

}

.a_link.plain:hover:before {
  width: 100%;
  left: 0;
  transform: unset;
}

.email {
  padding-top: 1rem;
}

.email .a_link {
  font-size: 14px;
}

.a_button {
  color: var(--defaultColor);
  text-decoration: none;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-transform: capitalize;
  vertical-align: middle;
  width: 100%;
  transition: 0.4s ease;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
}

.animate {
  background: transparent;
  text-align: center;
}

.animate svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
}

.animate rect {
  fill: none;
  stroke: var(--defaultColor);
  ;
  stroke-width: 3;
  stroke-dasharray: 422, 0;
}

.animate:hover {
  background: rgba(225, 51, 45, 0);

}

.animate:hover rect {
  stroke-width: 5;
  stroke-dasharray: 0, 318;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}



.og_wrapper {
  position: relative;
  margin: 0 var(--side-margin);
  padding: 3rem 0;
  z-index: 50;
}


.og_wrapper .logo {
  width: 200px;
  margin-left: -3.1rem;
  opacity: 0.3;
  position: absolute;
  bottom: 0;
  right: 10px;
}

.og_wrapper header.profile h1,
.og_wrapper header.profile p {
  color: #f1f1f1;
}

.og_wrapper header.profile h1 {
  font-size: 24px;
}

.og_wrapper header.profile p {
  margin-top: 0.65rem;
  font-size: 18px;
  font-style: italic;
  width: 100%;
  display: block;
}



.og_wrapper .bio {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.og_wrapper .intro {
  display: flex;
  min-height: 50vh;
  margin: 0 var(--side-margin) 0 var(--side-margin);
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;

}

.info-text {
  position: absolute;
  right: 0px;
  bottom: 2rem;
  z-index: 2;
  width: 386px;
  padding-left: 56px;
  background-image: url(./assets/img/core/534e23fb94be38d269000057_arrow-left-up.png);
  background-position: 0% 15%;
  background-size: 47px;
  background-repeat: no-repeat;
  opacity: 0.75;
  transform: translateX(0px) translateY(0px);
  transition: opacity 500ms ease 0s, transform 1200ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  font-family: 'Caveat', cursive;
  color:
    white;
  font-size: 29px;
  line-height: 34px;
  letter-spacing: 0.7px;

}

@media screen and (max-width: 850px) {
  .info-text {
    position: relative;
    width: 80%;
    font-size: 16px;
    bottom: 0;
    right: -2rem;
    bottom: -1rem;
    margin-bottom: 2rem
  }

}

.intro-interaction {
  position: absolute;
  right: 0;
  top: 1rem;
  height: 200px;
  width: 200px;
  background: transparent;
  border: 8px solid var(--defaultColor);
  opacity: 0.1;
}

.og_wrapper .bio .inner {
  position: relative;
}

.og_wrapper .bio .profile-photo {
  margin: 2rem 0;
  max-height: 350px;
  max-width: 270px;
}

.og_wrapper .bio .profile-photo img {
  max-height: 350px;
  max-width: 300px;
  object-fit: contain;
  position: relative;

}

.og_wrapper .bio .profile-photo:before {
  content: "";
  position: absolute;
  top: 10px;
  height: 350px;
  width: 270px;
  left: 10px;
  border: 2px solid var(--defaultColor);
  transition: 0.4s ease-in-out;

}

.og_wrapper .bio .profile-photo:hover:before {
  background: var(--defaultColor);
}

.og_wrapper .bio h1 {
  font-size: 26px;
  color: var(--defaultColor);
  font-weight: bold;
  margin-top: 4rem;
  margin-bottom: 20px;
  position: relative;
}

.og_wrapper .bio ul {
  padding: 0 0 2rem 1rem;
  list-style: none;

}

.og_wrapper .bio ul li {
  color: #fff;
  font-size: 18px;
  text-align: left;
}

.og_wrapper .bio ul li:before {
  content: "\2022";
  color: var(--defaultColor);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.og_wrapper .intro,
.og_wrapper .bio p {
  color: #ffffff;
  line-height: 1.8rem;
  font-size: 20px;
  margin-bottom: 1.4rem;
}

.og_wrapper .bio .work,
.og_wrapper .bio .article {
  margin: 0 0 2rem 0;
}

.og_wrapper .bio .work .date,
.og_wrapper .bio .article .details {
  color: #fff;
  opacity: 0.5;
  font-size: 12px;
  font-style: italic;
  display: block;
}

.og_wrapper .bio .work .company {
  color: #fff;
  font-size: 20px;
}

.og_wrapper .bio .work .role {
  font-size: 14px;
  margin: 0;
}

.footer {
  text-align: center;
  margin-top: 3rem;
}

.footer p {
  color: #ffffff;
  font-size: 18px;
}

.footer .contact {
  margin-top: 10px;

}

.footer .contact .a_link {
  margin-right: 3px;
  font-size: 14px;
}

.timeline {
  position: relative;
  margin: 50px auto;
  padding: 40px 0;
  box-sizing: border-box;
}

.timeline:before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 90%;
  background: #c5c5c5;
}

.timeline ul {
  padding: 0;
  margin: 0;
}

.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.content {
  padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 24px;
  right: -6px;
  background: var(--defaultColor);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.timeline ul li:nth-child(even):before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 24px;
  left: -4px;
  background: var(--defaultColor);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.timeline ul li h3 {
  padding: 0;
  margin: 0;
  color: var(--defaultColor);
  font-weight: 600;
}

.timeline ul li p {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  font-size: 14px;
}

.timeline ul li .time h4 {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.timeline ul li:nth-child(odd) .time {
  position: absolute;
  top: 12px;
  right: -180px;
  margin: 0;
  padding: 8px 16px;
  background: var(--defaultColor);
  color: #fff;
  border-radius: 18px;
}

.timeline ul li:nth-child(even) .time {
  position: absolute;
  top: 12px;
  left: -180px;
  margin: 0;
  padding: 8px 16px;
  background: var(--defaultColor);
  color: #fff;
  border-radius: 18px;
}

@media(max-width:1020px) {
  .timeline {
    width: 100%;
  }
}

@media(max-width:767px) {
  .og_wrapper .intro {
    min-height: 80vh;
    align-items: center;
  }

  .timeline {
    width: 100%;
    padding-bottom: 0;
  }

  .timeline:before {
    left: 20px;
    height: 90%;
  }

  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even) {
    width: 100%;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 50px;
  }

  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before {
    top: -18px;
    left: 16px;
  }

  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time {
    top: -30px;
    left: 50px;
    right: inherit;
  }
}

.circles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  opacity: 0.1;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  border-radius: 50% !important;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 100s linear infinite;
  bottom: 0;
  z-index: -1;

}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000vh) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}

@media screen and (max-width: 1020px) {
  .og_wrapper {
    padding: 2rem 0;

  }

  .og_wrapper .bio ul li {
    color: #fff;
    font-size: 15px;
  }

  .og_wrapper .bio {
    max-width: 100%;
    padding: 0;
  }

  p {
    font-size: 15px !important;
  }

}

.oops_404 {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.oops_404 .inner {
  color: #ffffff;
  text-align: center;
  padding: 2rem;
}
