:root {
  --side-margin: 15vw;
  --defaultColor: rgb(23, 191, 99);
}

@media only screen and (max-width: 600px) {
  :root {
    --side-margin: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #00091b !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

a,
input,
textarea,
ul,
li,
span,
p {
  font-family: 'Poppins', sans-serif;
}

a:focus,
input:focus {
  outline: none;
}

@-webkit-keyframes blinker {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.0;
  }
}

@keyframes floatUp {
  0% {

    transform: translatey(0px);
  }

  50% {

    transform: translatey(-20px);
  }

  100% {

    transform: translatey(0px);
  }
}

.floating-up {
  position: absolute;
  bottom: 5px;
  right: 10px;
  opacity: 0.22;
  background: transparent;
  animation: floatUp 6s ease-in-out infinite;
}

.floating-up img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

@keyframes floatDown {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(80px);
  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;

  }

  100% {
    opacity: 1;

  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;

  }

  100% {
    opacity: 1;

  }
}

.header {
  padding: 10px 0;
}

.header .brand {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1.5px;
}

.header .nav {
  padding: 5px 0;
}

.header .nav a {
  position: relative;
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
  margin: 4px 4px 4px 0;
  transition: 0.8s ease-in-out;

}

.header .nav a:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header .nav a.active:before,
.header .nav a:hover:before {
  width: 50%;
  border-color: var(--defaultColor);
}

.fadeIn {

  -webkit-animation: fadeIn 3s ease-in-out;
  animation: fadeIn 3s ease-in-out;
}

.floating-down {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 3px solid #444444;
  opacity: 0.2;
  background: transparent;
  animation: floatDown 6s ease-in-out infinite;
}


.blink {
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  color: var(--color_default);
}

.is_flexed {
  display: flex;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 0;
}

.m_default {
  margin: 1.75rem 0;
}

.m_default_lg {
  margin: 80px 0;
}

.is-center {
  text-align: center;
}

.is-center .a_button {
  margin: 0 auto !important;
}

.a_link {
  color: var(--defaultColor);
  text-decoration: none;
  transition: 0.8s ease-in-out;
  display: inline-block;
  position: relative;
}

.a_link:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 3px solid var(--defaultColor);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.a_link:hover:before {
  width: 50%;
}

.a_link.plain {
  color: #ffffff;
  border-bottom: 3px solid rgba(23, 191, 99, 0.1);
  font-weight: bold;
  display: inline-block;
  position: relative;
}

.a_link.plain:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  left: 0;
  bottom: 0;
  border-bottom: 3px solid var(--defaultColor);
  ;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

}

.a_link.plain:hover:before {
  width: 100%;
}

.email {
  padding-top: 1rem;
}

.email .a_link {
  font-size: 14px;
}

.a_button {
  color: var(--defaultColor);
  ;
  text-decoration: none;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-transform: capitalize;
  vertical-align: middle;
  width: 100%;
  transition: 0.4s ease;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
}

.animate {
  background: transparent;
  text-align: center;
}

.animate svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
}

.animate rect {
  fill: none;
  stroke: var(--defaultColor);
  ;
  stroke-width: 3;
  stroke-dasharray: 422, 0;
}

.animate:hover {
  background: rgba(225, 51, 45, 0);

}

.animate:hover rect {
  stroke-width: 5;
  stroke-dasharray: 0, 318;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.og_wrapper {
  margin: 1rem var(--side-margin);
  padding: 3rem 0;


}


.og_wrapper .logo {
  width: 200px;
  margin-left: -3.1rem;
  opacity: 0.3;
  position: absolute;
  bottom: 0;
  right: 10px;
}

.og_wrapper header.profile h1,
.og_wrapper header.profile p {
  color: #f1f1f1;
}

.og_wrapper header.profile h1 {
  font-size: 24px;
}

.og_wrapper header.profile p {
  margin-top: 0.65rem;
  font-size: 18px;
  font-style: italic;
  width: 100%;
  display: block;
}



.og_wrapper .bio {
  max-width: 80%;
  min-height: 50vh;
  display: flex;
  align-items: center;
}

.og_wrapper .bio .inner {
  position: relative;
}

.og_wrapper .bio .profile-photo {
  margin: 2rem 0;
  max-height: 350px;
  max-width: 270px;
}

.og_wrapper .bio .profile-photo img {
  max-height: 350px;
  max-width: 300px;
  object-fit: contain;
  position: relative;

}

.og_wrapper .bio .profile-photo:before {
  content: "";
  position: absolute;
  top: 10px;
  height: 350px;
  width: 270px;
  left: 10px;
  border: 2px solidvar(--defaultColor);
  transition: 0.4s ease-in-out;

}

.og_wrapper .bio .profile-photo:hover:before {
  background: var(--defaultColor);
}

.og_wrapper .bio h1 {
  font-size: 26px;
  color: var(--defaultColor);
  font-weight: bold;
  margin-top: 4rem;
  margin-bottom: 20px;
  position: relative;
}

.og_wrapper .bio h1:after {
  content: "";
  display: block;
  right: 1px;
  bottom: 5px;
  height: 6px;
  width: 50px;
  border-radius: 10px;
  background: var(--defaultColor);
}

.og_wrapper .bio ul {
  padding: 0 0 2rem 1rem;
  list-style: none;

}

.og_wrapper .bio ul li {
  color: #fff;
  font-size: 18px;
}

.og_wrapper .bio ul li:before {
  content: "\2022";
  color: var(--defaultColor);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.og_wrapper .bio p {
  color: #ffffff;
  line-height: 1.8rem;
  font-size: 20px;
  margin-bottom: 1.4rem;
}

.og_wrapper .bio .work,
.og_wrapper .bio .article {
  margin: 0 0 2rem 0;
}

.og_wrapper .bio .work .date,
.og_wrapper .bio .article .details {
  color: #fff;
  opacity: 0.5;
  font-size: 12px;
  font-style: italic;
  display: block;
}

.og_wrapper .bio .work .company {
  color: #fff;
  font-size: 20px;
}

.og_wrapper .bio .work .role {
  font-size: 14px;
  margin: 0;
}

.footer p {
  color: #ffffff;
  font-size: 18px;
}

.footer .contact {
  margin-top: 10px;
}

.footer .contact .a_link {
  margin-right: 3px;
  font-size: 15px;
}

@media screen and (max-width: 1020px) {
  .og_wrapper {
    padding: 2rem 1rem;

  }

  .og_wrapper .bio ul li {
    color: #fff;
    font-size: 15px;
  }

  .og_wrapper .bio {
    max-width: 100%;
    min-height: 50vh;
    padding: 2rem 1rem 1rem 0;
  }

  p {
    font-size: 15px !important;
  }

}

.oops_404 {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.oops_404 .inner {
  color: #ffffff;
  text-align: center;
  padding: 2rem;
}
