*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans', serif;
}

a,
input,
textarea,
ul,
li,
span,
p {
  font-family: 'Lato', sans-serif;
}

a {
  color: rgba(102, 45, 145);
  font-weight: bold;
  text-decoration: none;
}

.btn {
  padding: 14px 42px;
  color: #fff;
  background: rgba(21, 22, 24,0.8);
  border: none;
  border-radius: 3rem;
  box-shadow: 5px 10px 30px rgba(21, 22, 24,0.3);
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.og-icon {
  background: rgba(21, 22, 24,0.8);
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 30px;
  width: 70px;
  height: 70px;
  margin: 20px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 51% 49% 47% 53% / 45% 24% 76% 55%;
}

.redColor {
  color: #ad1a30;
}

.purpleColor {
  color: #c72cc9;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 20px;
}

.og-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em 3em;
  display: flex;
  justify-content: space-between;
  transition: 0.8s ease;
}

.og-nav.activeNav {
  -webkit-box-shadow: 0 10px 30px rgba(102, 45, 145, 0.2);
  box-shadow: 0 10px 30px rgba(21, 22, 24,0.6);
  background: rgba(21, 22, 24,0.8);
}

.og-nav .brand,
.og-nav .menu {
  padding-top: 10px;
  padding-bottom: 10px;
}

.og-nav .brand .brand-link {
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.og-nav .menu .link {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 14px;
  text-transform: capitalize;
}

.menu-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
  transition: 0.5s;
}

.menu-overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  background: transparent !important;
}

.menu-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 30px;
  display: block;
  color: #fff;
  transition: 0.3s;
  background: transparent !important;
}

.menu-overlay a:hover,
.menu-overlay a:focus {
  color: #f1f1f1;
}

.menu-overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.og-nav .menuToggle {
  padding: 10px 14px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  display: none;
}

@media screen and (max-width: 950px) {
  .og-nav .menu {
    display: none;
  }
  .og-nav .menuToggle {
    display: inline;
  }
  .og-nav {
    padding: 0.45em 0.75em;
  }
}

.og-hero {
  min-height: 70vh;
  background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(21, 22, 24,0.6)), url(assets/img/core/profile_pic.jpg);
  background: -o-linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(21, 22, 24,0.6)), url(assets/img/core/profile_pic.jpg);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(21, 22, 24,0.6)), url(assets/img/core/profile_pic.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4em 1em 3em 1em;
  background-repeat: no-repeat;
}

.og-hero.md {
  min-height: 35vh;
  background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(21, 22, 24,0.6)), url(assets/img/core/profile_pic.jpg);
  background: -o-linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(21, 22, 24,0.6)), url(assets/img/core/profile_pic.jpg);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(21, 22, 24,0.6)), url(assets/img/core/profile_pic.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.og-hero.fh {
  min-height: 100vh;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(21, 22, 24,0.6)), url(assets/img/core/md.jpg);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(21, 22, 24,0.6)), url(assets/img/core/md.jpg);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(21, 22, 24,0.6)), url(assets/img/core/md.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.og-hero.notFound {
  min-height: 100vh;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(21, 22, 24,0.6)), url(assets/img/core/404.jpg);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(21, 22, 24,0.6)), url(assets/img/core/404.jpg);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(21, 22, 24,0.6)), url(assets/img/core/404.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.og-hero .inner {
  text-align: center;
  color: #ffffff;
  width: 50%;
  margin: 0 auto;
}

.og-hero .inner h1 {
  font-size: 4rem;
}

.og-hero .inner p {
  font-size: 2rem;
  margin-top: 10px;
}

.og-hero .og-aoc {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin: 80px auto 10px auto;
  text-align: center;
}

.og-hero .og-aoc.unset {
  display: block;
}

.og-hero .og-aoc p {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}

.og-hero .og-aoc .og-hero-link i {
  color: #fff;
  font-size: 20px;
  padding: 1em 1.1em;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: 0.8s ease;
}

.og-hero .og-aoc .og-hero-link i:hover {
  background: rgba(21, 22, 24,0.6);
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 950px) {
  .og-hero .inner {
    width: 100%;
  }
  .og-hero .inner h1 {
    font-size: 3rem;
  }
  .og-hero .inner p {
    font-size: 1rem;
  }
}

.wrapper {
  padding: 3em 0;
}

.wrapper .innerWrap {
  display: flex;
  align-items: center;
  padding: 1em;
  min-height: 50vh;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.wrapper .innerWrap h1 {
  color: #333;
  font-size: 28px;
}

.wrapper .innerWrap.lg {
  width: 80%;
}

.wrapper .innerWrap .about-img img {
  width: 50%;
  object-fit: cover;
  margin-bottom: 30px;
  padding: 20px;
  border: 2px solid rgba(21, 22, 24,0.2);
  border-radius: 26% 74% 21% 79% / 72% 30% 70% 28%;
}

.wrapper .innerWrap h1 {
  font-size: 34px;
  color: #333;
}

.wrapper .innerWrap p {
  font-size: 22px;
  line-height: 1.5;
  color: #333;
  margin: 20px 0 50px 0;
}

.wrapper .innerWrap .link {
  color: #fff;
}

.wrapper .innerWrap .form {
  padding: 1em 0;
}

.wrapper .innerWrap .og-field {
  width: 100%;
  display: block;
  padding: 10px 16px;
  margin: 10px auto;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #555;
  transition: 0.8s ease;
}

.wrapper .innerWrap .og-field.textarea {
  width: 100%;
  height: 120px;
  display: block;
  font-size: 16px;
  color: #555;
  transition: 0.8s ease;
}

.wrapper .innerWrap .og-field:focus,
.wrapper .innerWrap .og-field.textarea:focus {
  border: 1px solid rgba(21, 22, 24);
}

@media screen and (max-width: 950px) {
  .wrapper .innerWrap,
  .wrapper .innerWrap.lg {
    width: 100%;
  }
  .wrapper .innerWrap p {
    font-size: 1rem;
  }
}

.og-quick-contact-holder {
  padding: 2em 0;
  margin: 1em auto;
  text-align: center;
}

.og-quick-contact-link {
  font-size: 18px;
  z-index: 99999;
  padding: 10px 12px;
  margin: 1rem auto;
  border-radius: 50%;
  margin-bottom: 30px;
  text-align: center;
  color: rgba(21, 22, 24,1);
  background: transparent;
}

.og-quick-contact-link:hover {
  color: rgba(102, 45, 145, 1);
  -webkit-transition: .6s;
  transition: .6s;
}

.copyright {
  margin: 2em 0;
}

.copyright p {
  font-size: 16px;
  color: inherit;
}
