:root {
    --side-margin: 15vw;
}


ul {
    list-style: none;
    margin: 1rem var(--side-margin);
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 35px;
    height: fit-content;

}

.url {
    color: inherit;
    text-decoration: inherit;
    display: flex;
    flex-direction: column;
    box-shadow: -2px -2px 5px #00091b, 2px 2px 5px #00091b;
    transition: 0.8s ease;
    background: #00091b;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 400px;
}


.cover {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.title {
    color: #f9f9f9;
    margin: 8px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0 0 5px 5px;
    font-size: 18px;
    padding: 1rem;
}

.desc {
    color: #f9f9f9;
    opacity: 0.7;
    font-size: 14px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    :root {
        --side-margin: 10px;
    }



    .body {
        padding: 0;
    }

    ul {
        margin: 2rem auto;
    }
}
